.container-carousel {
    margin: 0 auto;
    max-width: 960px;
    min-height: 750px;
    padding-left: 15px;
    padding-right: 15px;
}
.list-group-item.active {
    z-index: 2;
    color: #000;
    background-color: transparent;
    border-color: transparent;
}

.list-group-item {
  color: #ccc;
  border: none;
  background-color: transparent;
  font-weight: bold;
  padding: 0;
}

.list-group-item:hover, .list-group-item:focus {
  color: #000;
  background-color: transparent;
}

.col-lg-5 {
  overflow-y: scroll;
  max-height: 45vh;
}
@media (max-width: 992px) {
  .col-lg-5 {
    max-height: 20vh;
    margin-bottom: 15px;
  }
}